{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{doc_title}}</title>
    <link rel="stylesheet" type="text/css" href='{% static "core/css.css" %}'>

    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
</head>
<body style="background-image:url('{{ backgroundimg.url }}'); background-size: cover;"> 
 

{% if user.is_authenticated %}
{% include "core/nav.html"  %}




<!-- основная страница | начало  -->


<main>
    <div class="header">
        <h1>{{ section_name }}</h1>
        {% comment %} <form class="search" method="GET" action="">
            {% csrf_token %}
            <input type="text" placeholder="Поиск..." name="search_order" required>
            <button type="submit">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="7" stroke="#5874D0" stroke-width="2"/>
                    <path d="M20 20L17 17" stroke="#5874D0" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </button>
        </form> {% endcomment %}

        <button onclick="fastProd()" class="add-element">Быстрый продукт</button>
        <button onclick="location.href='/orders/products/new/'" class="add-element">+Создать заказ</button>

    </div>

    <div class="header-bottom">
        <!-- <p>Количество: {{ count }}</p> -->
        <!-- <p>Сумма: {{ summ }} тг.</p> -->
    </div>

    <div class="prod-cards">
{% for prod in results %}

        <div class="one-card" onclick="location.href='/orders/products/{{prod.id}}/info/'">
            <div>
                <h5>{{prod.name}}</h5>
                <div>
                    
                <a href ="/orders/products/{{prod.id}}/product_update">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.204 10.796L19 9C19.5452 8.45475 19.8179 8.18213 19.9636 7.88803C20.2409 7.32848 20.2409 6.67152 19.9636 6.11197C19.8179 5.81788 19.5452 5.54525 19 5C18.4547 4.45475 18.1821 4.18213 17.888 4.03639C17.3285 3.75911 16.6715 3.75911 16.112 4.03639C15.8179 4.18213 15.5452 4.45475 15 5L13.1813 6.81866C14.1452 8.46925 15.5314 9.84482 17.204 10.796ZM11.7269 8.27311L4.85638 15.1436C4.43132 15.5687 4.21879 15.7812 4.07905 16.0423C3.93932 16.3034 3.88037 16.5981 3.76248 17.1876L3.14709 20.2646C3.08056 20.5972 3.0473 20.7635 3.14191 20.8581C3.23652 20.9527 3.40282 20.9194 3.73543 20.8529L6.81241 20.2375C7.40187 20.1196 7.69659 20.0607 7.95769 19.9209C8.21879 19.7812 8.43132 19.5687 8.85638 19.1436L15.7458 12.2542C14.1241 11.2386 12.7524 9.87627 11.7269 8.27311Z" fill="#5874D0"/>
</svg>

                </a>
                <a href="/orders/products/{{prod.id}}/delete_product">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 15L10 12" stroke="#5874D0" stroke-width="2" stroke-linecap="round"/>
<path d="M14 15L14 12" stroke="#5874D0" stroke-width="2" stroke-linecap="round"/>
<path d="M3 7H21V7C20.0681 7 19.6022 7 19.2346 7.15224C18.7446 7.35523 18.3552 7.74458 18.1522 8.23463C18 8.60218 18 9.06812 18 10V16C18 17.8856 18 18.8284 17.4142 19.4142C16.8284 20 15.8856 20 14 20H10C8.11438 20 7.17157 20 6.58579 19.4142C6 18.8284 6 17.8856 6 16V10C6 9.06812 6 8.60218 5.84776 8.23463C5.64477 7.74458 5.25542 7.35523 4.76537 7.15224C4.39782 7 3.93188 7 3 7V7Z" stroke="#5874D0" stroke-width="2" stroke-linecap="round"/>
<path d="M10.0681 3.37059C10.1821 3.26427 10.4332 3.17033 10.7825 3.10332C11.1318 3.03632 11.5597 3 12 3C12.4403 3 12.8682 3.03632 13.2175 3.10332C13.5668 3.17033 13.8179 3.26427 13.9319 3.37059" stroke="#5874D0" stroke-width="2" stroke-linecap="round"/>
</svg>

                </a>
                </div>
            </div>
            <span>Кол-во: {{prod.among}}</span><br>
            <span>Себестоимость: <i>{{prod.price_per_piece}}</i> тг</span>
        </div>

{% endfor %}    

<!-- 
<table class="table">
  <thead>
    <tr id="order_all">

<th scope="col"><input type="checkbox" name="order_all" id="order_all"></th>
<th scope="col">name</th>
<th scope="col">among</th>
<th scope="col">price_per_piece</th>

    </tr>
  </thead>
  <tbody>
{% for prod in results %}
    <tr id="order_{{prod.id}}" >
<th scope="row">
    <input type="checkbox" name="order_{{prod.id}}" id="order_{{prod.id}}">
</th>
<td class="td-class"><a href="/orders/products/{{prod.id}}/info/">{{prod.name}}</a></td>
<td class="td-class"><a href="/orders/products/{{prod.id}}/info/">{{prod.among}}</a></td>
<td class="td-class"><a href="/orders/products/{{prod.id}}/info/">{{prod.price_per_piece}}</a></td>
    </tr>
{% endfor %}    
  </tbody>
</table> -->



    </div>
    <!-- <div class="footer">
    </div> -->

</main>


<!-- основная страница | конец -->

{% else %}

<div class="authorization_error">
    <svg viewBox="64 64 896 896" focusable="false" data-icon="warning" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M464 720a48 48 0 1096 0 48 48 0 10-96 0zm16-304v184c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V416c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8zm475.7 440l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zm-783.5-27.9L512 239.9l339.8 588.2H172.2z"></path></svg>
    <h1>Вы не были авторизованы</h1>
    <div class="authorization_error_buttons">
        <button onclick="auth() ">Войти</button>
        <button onclick="reg() ">Зарегистрироваться</button>
        <button onclick="home() ">На главную</button>       
    </div>

    <script type="text/javascript">
        function auth()  { location.href='/auth/login'}
        function reg() { location.href='/reg'}
        function home() { location.href="{% url 'home' %}"}
    </script>
</div>

{% endif %} 


<script src='{% static "core/js.js" %}'></script>


<div id="sdfdfjkbnsjknd" class="modal-big-hidden">
    <form action="" method="POST" class="madal-core-show">
            {% csrf_token %}
            <div class="label">
                <h5>Наименование заказа</h5>
                {{ form.name }}
            </div>
            
            <div class="label">
                <h5>На складе (шт.)</h5>
                {{ form.among }}
            </div>
            
            <div class="label">
                <h5>Себестоимость</h5>
                {{ form.price_per_piece }}
            </div>
        
            <div class="label">
            <input type="submit" class='add-element order-f' style="border:1px solid black;" type=button value="Сохранить" onClick="fastProd()">
            <input class="add-element order-f" style="margin-top:15px ;color: black;background: silver; border:1px solid black" type=button value="Отменить"  onClick="fastProd()">
            </div>

        </form>
</div>

<script type="text/javascript">
    function fastProd(){

    var ddd = document.getElementById("sdfdfjkbnsjknd")
    ddd.classList.toggle("modal-big-show");
    ddd.classList.toggle("modal-big-hidden");
    } 
</script>
</body>
</html>





