{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LOMA</title>
    <link rel="stylesheet" type="text/css" href='{% static "core/order_table_style.css" %}'>
    {% comment %} <link rel="stylesheet" type="text/css" href="order_table_style.css"> {% endcomment %}
</head>
<body>
	<header id="header">
  <div class="logo-toggle-flex">
    <div class="logo">
      <img id="header-img" src='{% static "core/img/LOMA_logo.png" %}' alt="Holdfast logo" title="LOMA">
    </div>
    <a href="#nav-bar"
     id="menu-toggle"
     class="menu-toggle"><span class="fas fa-bars fa-lg"></span>
    </a>
  </div>
  <nav class="nav-bar-wrapper" id="nav-bar">  
    <a href="#main-menu-toggle"
       id="main-menu-close"
       class="menu-close"><span class="fas fa-times fa-lg"></span>
    </a>
    <ul class="menu-wrapper" id="menu-wrapper">
      <li><a href="/auth/login/" class="nav-link">log-in</a></li>
      <li><a href="#headera" class="nav-link">Home</a></li>
      <li><a href="#products" class="nav-link">Products</a></li>
      <li><a href="#about" class="nav-link">About</a></li>
    </ul>
  </nav>
  <a href="#main-menu-toggle"
     class="backdrop"></a>
</header>
<main>
  
  <!--  CTA  -->
  <section class="cta-img" id="headera">
    <div class="cta-banner">
      <div class="cta-wrapper">
        <h1>Lorem ipsum dolor sit. <br>Lorem, ipsum, dolor.</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias autem dolorum voluptatibus aliquam quos consequuntur deserunt repellendus?<br><br>Lorem ipsum dolor sit amet.<br>Lorem, ipsum, dolor.</h2>
        <a href="/reg" class="quote">Let's start</a>
      </div><!--   end cta-wrapper     -->
    </div><!--   end cta-banner     -->
  </section>
  


  <!--  Products  -->
  <section class="products" id="products">
    <h2>Products</h2>
    <div class="products-wrap">   
      <div class="product-item">
        <img class="beam-img" src='{% static "core/img/free-icon-truck-2134895.png" %}' width="80" alt="Beams" title="Beams">
        <div class="product-description">
          <p class="product-label">Truck</p>
          <hr class="hr-line">
          <ul class="item-type">
            <li>W Beams</li>
            <li>I-Beams</li>
            <li>H-Beams</li>
            <li>Channel-Beams</li>
          </ul>
        </div>
      </div>
      <div class="product-item">
        <img class="bolt-img" src='{% static "core/img/business-report.png"%}' width="80" alt="Bolts" title="Bolts">
        <div class="product-description">
          <p class="product-label">Report</p>
          <hr class="hr-line">
          <ul class="item-type">
            <li>Hex Bolts</li>
            <li>Machine Screws</li>
            <li>Socket Head Screws</li>
            <li>Carriage Bolts</li>
            <li>Lag Bolts</li>
          </ul>
        </div>
      </div>
      <div class="product-item">
        <img class="bar-img" src='{% static "core/img/monitor.png"%}' width="80" alt="Bars" title="Bars">
        <div class="product-description">
          <p class="product-label">Dashboard</p>
          <hr class="hr-line">
          <ul class="item-type">
            <li>Mild Steel Bars</li>
            <li>Deformed Steel Bars</li>
          </ul>
        </div>
      </div>
      <div class="product-item">
        <img class="compass-img" src='{% static "core/img/placeholder.png"%}' width="80" alt="Design" title="Design">
        <div class="product-description">
        <p class="product-label">Location</p>
          <hr class="hr-line">
          <ul class="item-type">
            <li>CAD</li>
            <li>On-Site Survey</li>
          </ul>
        </div>
     </div>      
    </div>
  </section>
  
  
  
  <!--  About  -->
  <section class="about" id="about">
    <div class="about-text">
      <h2>Experts in steel</h2>
      <div class="about-wrapper">
        <img src='{% static "core/img/photo_2022-10-06_17-41-55.jpg"%}' alt="hard hats">
        <div class="p-text">
          <p>Holdfast Steel offers a complete solution to your steel frame building requirements.</p><br>
          <p>From commercial to residential buildings, we can manage all projects from design through to installation, working directly from customer-supplied drawings or on-site.</p><br>
          <p>With over 28 years of experience in the construction and steel industry, we guarantee complete satisfaction combined with competitive prices.</p>
        </div>
<!--         <div class="acc-logo">
          <img src="https://res.cloudinary.com/sharonnt/image/upload/v1535454465/acc1.png" alt="SCCBE accreditation">
          <img src="https://res.cloudinary.com/sharonnt/image/upload/v1535455215/acc2.png" alt="AMS accreditation">
          <img src="https://res.cloudinary.com/sharonnt/image/upload/v1535456671/acc3.png" alt="ISO accreditation">
        </div> -->
      </div>
    </div>
  </section>
    
  

</main>

<footer>
  <div id="footer">Created by Kenzhebek Azamat || Nurpeissov Meiirman</div>
</footer>
</body>
</html>